/* Write your code here. */
* {
  margin: 0px;
  padding: 0px;
}
.bg-image {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  height: 100vh;
}
.heading {
  color: black;
  font-family: "roboto";
  text-align: center;
  font-weight: 400;
  padding: 10px;
}
.img-container {
  background-color: #cffafe;
  width: 90vh;
  height: 70vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}
img {
  height: 70px;
  width: 70px;
}
h2 {
  font-size: 15px;
  font-family: "roboto";
}
p {
  font-size: 10px;
  font-family: "roboto";
}
